body{
	background-color: rgb(224, 199, 166);
	margin: 40px;
	padding: 12px;
}

h1{
	color: rgb(83, 100, 58);
	padding: 30px;
}

h2{
	color: rgb(58, 83, 34);
	padding: 12px;
}

h3{
	color: rgb(58, 83, 34);
	padding: 10px 8px;
}

p{
	padding: 0 40px;
	text-align: justify;
}

a:visited{
	color: brown;
}